.product{
    padding: 20px 20px 0 0;
}

.product-title{
    width: 100%;
    padding:  0 0 10px 20px;
    color: #191919;
    font-size: 16px;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
}

.product-item{
    width: 50%;
    padding: 0 0 13px 20px;
}

.product-img{
    width: 100%;
}