<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style-grid.css">
</head>
<body>
    <div class="container">
        <div class="header grid-center">头部</div>
        <div class="nav grid-center">导航</div>
        <div class="content grid-center">主体</div>
        <div class="slide grid-center">侧栏</div>
        <div class="footer grid-center">页脚</div>
    </div>
</body>
</html>